{% extends "layout.html" %}

{% block title %}
    Welcome to the Beginning
{% endblock %}

}
{% block body %}
<div style="margin:auto">
    <div class="index_circle" style="float:left;margin-left:350px;margin-right:50px;margin-top:200px">
        <a href="/cmd_index"><p class="index_button">CMD</p></a>
    </div>
    <div class="index_circle" style="float:right;margin-left:50px;margin-right:350px;margin-top:200px">
        <a href="/bots"><p class="index_button">Bots</p></a>
    </div>
</div>  

<div>
    <div class="index_circle" style="float:left;margin-left:350px;margin-right:50px;margin-top:200px">
       <a href="crypto"><p class="index_button">Crypto</p></a>
    </div>
    <div class="index_circle" style="float:right;margin-left:50px;margin-right:350px;margin-top:200px">
        <a href="bobbygfitness" style="text-decoration:none"><p class="index_button">Bobby G Fitness</p></a>
    </div>

    <div>
        <div style="color:white;opacity:0.5;border-radius:10px;font-family:'Bangers';font-size:40;">
            Member Access
        </div>
    </div>
</div>

{% endblock %}